{{- /* The WireGuard-key Secret named by spec.wgKeySecretRef must live in the XGatewayGCP's namespace; secretDataSecretRef resolves there. */ -}}
{{- $xr := .observed.composite.resource -}}
{{- $spec := $xr.spec -}}
{{- $region := $spec.region -}}
{{- $addrBlock := dig "address" (dict) $spec -}}
{{- $addrType := dig "type" "Reserved" $addrBlock -}}
{{- $external := dig "external" (dict) $addrBlock -}}
{{- $extName := dig "name" "" $external -}}
{{- $extIP := dig "ip" "" $external -}}
{{- $isReserved := eq $addrType "Reserved" -}}
{{- $isEphemeral := eq $addrType "Ephemeral" -}}
{{- $isExternal := eq $addrType "External" -}}
{{- $isExternalName := and $isExternal (ne $extName "") -}}
{{- $isExternalIP := and $isExternal (ne $extIP "") -}}
{{- $addressResourceName := "" -}}
{{- if $isReserved -}}{{- $addressResourceName = "address" -}}{{- end -}}
{{- if $isExternalName -}}{{- $addressResourceName = "address-observed" -}}{{- end -}}
{{- $observedAddressIP := "" -}}
{{- $targetFromAddress := ne $addressResourceName "" -}}
{{- if $targetFromAddress -}}
{{- $observedAddressIP = dig "status" "atProvider" "address" "" (getComposedResource . $addressResourceName) -}}
{{- end -}}
{{- $providerConfig := dig "providerConfigName" "default" $spec -}}
{{- $saEmail := dig "status" "atProvider" "email" "" (getComposedResource . "service-account") -}}
{{- $nics := dig "status" "atProvider" "networkInterface" (list) (getComposedResource . "instance") -}}
{{- /* An observed VM keeps its own service account: rendering an empty email is a stop/replace diff. */ -}}
{{- $instanceSAEmail := $saEmail -}}
{{- if eq $instanceSAEmail "" -}}
{{- $instanceSAEmail = dig "status" "atProvider" "serviceAccount" "email" "" (getComposedResource . "instance") -}}
{{- end -}}
{{- $instanceObserved := hasKey (dig "resources" (dict) .observed) "instance" -}}
{{- if and $instanceObserved (eq $instanceSAEmail "") }}
{{- fail "instance observed without a service-account email" }}
{{- end }}
{{- $observedNatIP := "" -}}
{{- if gt (len $nics) 0 -}}
{{- $acs := dig "accessConfig" (list) (index $nics 0) -}}
{{- if gt (len $acs) 0 -}}
{{- $observedNatIP = dig "natIp" "" (index $acs 0) -}}
{{- end -}}
{{- end -}}
{{- $targetIPKnown := true -}}
{{- if $targetFromAddress -}}
{{- $targetIPKnown = ne $observedAddressIP "" -}}
{{- end -}}
{{- $targetIP := "" -}}
{{- if $isExternalIP -}}
{{- $targetIP = $extIP -}}
{{- else if $targetFromAddress -}}
{{- $targetIP = $observedAddressIP -}}
{{- end -}}
{{- $tcpPorts := list -}}
{{- $udpPorts := list (toString $spec.wgListenPort) -}}
{{- range (dig "allowedPorts" (list) $spec) -}}
{{- if eq (dig "protocol" "" .) "tcp" -}}
{{- $tcpPorts = append $tcpPorts (toString .port) -}}
{{- else if eq (dig "protocol" "" .) "udp" -}}
{{- $udpPorts = append $udpPorts (toString .port) -}}
{{- end -}}
{{- end -}}
{{- $boundIP := $observedNatIP -}}
{{- if and (not $isEphemeral) $targetIPKnown -}}{{- $boundIP = $targetIP -}}{{- end -}}
{{- /* An observed Instance always re-renders: withholding it deletes the running VM. */ -}}
{{- $instanceReady := or $instanceObserved (and (ne $saEmail "") $targetIPKnown) -}}
{{- $message := "" -}}
{{- range $name, $res := dig "resources" (dict) .observed -}}
{{- if eq $message "" -}}
{{- range dig "resource" "status" "conditions" (list) $res -}}
{{- $ctype := dig "type" "" . -}}
{{- $cstatus := dig "status" "" . -}}
{{- $cmsg := dig "message" "" . -}}
{{- if and (eq $message "") (or (eq $ctype "Synced") (eq $ctype "Ready")) (eq $cstatus "False") (ne $cmsg "") -}}
{{- $message = printf "%s: %s" $name $cmsg -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- if ne $instanceSAEmail "" }}
---
apiVersion: compute.gcp.m.upbound.io/v1beta1
kind: Firewall
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: firewall
spec:
  forProvider:
    direction: INGRESS
    sourceRanges:
      - 0.0.0.0/0
    network: {{ $spec.sharedNetworkName | quote }}
    targetServiceAccounts:
      - {{ $instanceSAEmail | quote }}
    allow:
      {{- if gt (len $tcpPorts) 0 }}
      - protocol: tcp
        ports:
          {{- range $tcpPorts }}
          - {{ . | quote }}
          {{- end }}
      {{- end }}
      - protocol: udp
        ports:
          {{- range $udpPorts }}
          - {{ . | quote }}
          {{- end }}
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
{{- end }}
{{- if and (ne $instanceSAEmail "") (dig "enableOsLogin" true $spec) }}
---
apiVersion: compute.gcp.m.upbound.io/v1beta1
kind: Firewall
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: firewall-iap
spec:
  forProvider:
    direction: INGRESS
    sourceRanges:
      - 35.235.240.0/20
    network: {{ $spec.sharedNetworkName | quote }}
    targetServiceAccounts:
      - {{ $instanceSAEmail | quote }}
    allow:
      - protocol: tcp
        ports:
          - "22"
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
{{- end }}
{{- if $isReserved }}
---
apiVersion: compute.gcp.m.upbound.io/v1beta1
kind: Address
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: address
spec:
  forProvider:
    addressType: EXTERNAL
    region: {{ $region | quote }}
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
{{- end }}
{{- if $isExternalName }}
---
apiVersion: compute.gcp.m.upbound.io/v1beta1
kind: Address
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: address-observed
    crossplane.io/external-name: {{ $extName | quote }}
spec:
  managementPolicies: ["Observe"]
  forProvider:
    region: {{ $region | quote }}
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
{{- end }}
---
apiVersion: cloudplatform.gcp.m.upbound.io/v1beta1
kind: ServiceAccount
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: service-account
    crossplane.io/external-name: {{ $spec.serviceAccountId | quote }}
spec:
  forProvider: {}
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
---
apiVersion: secretmanager.gcp.m.upbound.io/v1beta1
kind: Secret
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: secret
    crossplane.io/external-name: {{ $spec.secretId | quote }}
spec:
  forProvider:
    replication:
      auto: {}
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
---
apiVersion: secretmanager.gcp.m.upbound.io/v1beta1
kind: SecretVersion
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: secret-version
spec:
  forProvider:
    secretSelector:
      matchControllerRef: true
    secretDataSecretRef:
      name: {{ $spec.wgKeySecretRef.name | quote }}
      key: {{ $spec.wgKeySecretRef.key | quote }}
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
{{- if ne $instanceSAEmail "" }}
---
apiVersion: secretmanager.gcp.m.upbound.io/v1beta1
kind: SecretIAMMember
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: secret-iam
spec:
  forProvider:
    role: roles/secretmanager.secretAccessor
    member: {{ printf "serviceAccount:%s" $instanceSAEmail | quote }}
    secretIdSelector:
      matchControllerRef: true
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
{{- end }}
{{- if $instanceReady }}
---
apiVersion: compute.gcp.m.upbound.io/v1beta1
kind: Instance
metadata:
  annotations:
    gotemplating.fn.crossplane.io/composition-resource-name: instance
spec:
  forProvider:
    machineType: {{ $spec.machineType | quote }}
    zone: {{ $spec.zone | quote }}
    bootDisk:
      initializeParams:
        {{- if ne (dig "image" "" $spec) "" }}
        image: {{ $spec.image | quote }}
        {{- end }}
        size: {{ dig "diskSizeGB" 20 $spec }}
    metadata:
      {{- if ne (dig "userData" "" $spec) "" }}
      user-data: {{ $spec.userData | quote }}
      {{- end }}
      {{- if ne (dig "secretId" "" $spec) "" }}
      secret-id: {{ $spec.secretId | quote }}
      {{- end }}
      wg-listen-port: {{ $spec.wgListenPort | toString | quote }}
      wg-mtu: {{ $spec.wgMTU | toString | quote }}
      {{- if ne (dig "wgGatewayAddress" "" $spec) "" }}
      wg-gateway-address: {{ $spec.wgGatewayAddress | quote }}
      {{- end }}
      {{- if ne (dig "wgLinkAddress" "" $spec) "" }}
      wg-link-address: {{ $spec.wgLinkAddress | quote }}
      {{- end }}
      {{- if ne (dig "wgSubnet" "" $spec) "" }}
      wg-subnet: {{ $spec.wgSubnet | quote }}
      {{- end }}
      traffic-policy: {{ dig "trafficPolicy" "cluster" $spec | quote }}
      {{- if ne (dig "projectID" "" $spec) "" }}
      project-id: {{ $spec.projectID | quote }}
      {{- end }}
      disable-legacy-endpoints: "true"
      block-project-ssh-keys: "true"
      {{- if dig "enableOsLogin" true $spec }}
      enable-oslogin: "TRUE"
      {{- else }}
      enable-oslogin: "FALSE"
      {{- end }}
    networkInterface:
      - network: {{ $spec.sharedNetworkName | quote }}
        accessConfig:
          {{- if or $isEphemeral (eq $boundIP "") }}
          - {}
          {{- else }}
          - natIp: {{ $boundIP | quote }}
          {{- end }}
    serviceAccount:
      email: {{ $instanceSAEmail | quote }}
      scopes:
        - https://www.googleapis.com/auth/cloud-platform
    desiredStatus: RUNNING
    {{- if dig "spot" false $spec }}
    scheduling:
      provisioningModel: SPOT
      preemptible: true
      automaticRestart: false
      onHostMaintenance: TERMINATE
    {{- end }}
  providerConfigRef:
    name: {{ $providerConfig | quote }}
    kind: ClusterProviderConfig
{{- end }}
---
apiVersion: infra.wgnet.dev/v1alpha1
kind: XGatewayGCP
status:
  {{- if ne $boundIP "" }}
  address: {{ $boundIP | quote }}
  {{- end }}
  {{- if ne $saEmail "" }}
  serviceAccountEmail: {{ $saEmail | quote }}
  {{- end }}
  {{- if ne $message "" }}
  message: {{ $message | quote }}
  {{- end }}
