add table inet {{ .Table }}
flush table inet {{ .Table }}
table inet {{ .Table }} {
	chain premark {
		type filter hook prerouting priority mangle; policy accept;
{{- range $s := .Slots }}
		iifname "{{ $s.Interface }}" ct state new counter ct mark set ct mark and {{ $s.KeepMask }} or {{ $s.Mark }}
		ct direction reply ct mark and {{ $s.MarkMask }} == {{ $s.Mark }} counter meta mark set meta mark and {{ $s.KeepMask }} or {{ $s.Mark }}
{{- end }}
	}

	chain prerouting {
		type nat hook prerouting priority dstnat; policy accept;
{{- range $s := .Slots }}
{{- if $.ResponderIP }}
		iifname "{{ $s.Interface }}" tcp dport {{ $.HealthPort }} counter dnat ip to {{ $.ResponderIP }} : {{ $.ResponderPort }}
{{- end }}
{{- range $f := $.Forwards }}
		iifname "{{ $s.Interface }}" {{ $f.Protocol }} dport {{ $f.PublicPort }} counter dnat ip to {{ $f.Target }} : {{ $f.TargetPort }}
{{- end }}
{{- end }}
{{- if .PublicAddress }}
{{- range $f := .Forwards }}
		ip daddr {{ $.PublicAddress }} {{ $f.Protocol }} dport {{ $f.PublicPort }} counter dnat ip to {{ $f.Target }} : {{ $f.TargetPort }}
{{- end }}
{{- end }}
	}
{{- if .PublicAddress }}

	chain output {
		type nat hook output priority -100; policy accept;
{{- range $f := .Forwards }}
		ip daddr {{ $.PublicAddress }} {{ $f.Protocol }} dport {{ $f.PublicPort }} counter dnat ip to {{ $f.Target }} : {{ $f.TargetPort }}
{{- end }}
	}

	chain postrouting {
		type nat hook postrouting priority srcnat; policy accept;
{{- range $f := .Forwards }}
		ip saddr {{ $f.Target }} ip daddr {{ $f.Target }} {{ $f.Protocol }} dport {{ $f.TargetPort }} counter masquerade
{{- end }}
	}
{{- end }}

	chain forward {
		type filter hook forward priority filter; policy accept;
{{- range $s := .Slots }}
		oifname "{{ $s.Interface }}" tcp flags syn counter tcp option maxseg size set rt mtu
		iifname "{{ $s.Interface }}" ct state established,related counter accept
{{- if $.ResponderIP }}
		iifname "{{ $s.Interface }}" ip daddr {{ $.ResponderIP }} tcp dport {{ $.ResponderPort }} ct state new counter accept
{{- end }}
{{- range $f := $.Forwards }}
		iifname "{{ $s.Interface }}" ip daddr {{ $f.Target }} {{ $f.Protocol }} dport {{ $f.TargetPort }} ct state new counter accept
{{- end }}
		iifname "{{ $s.Interface }}" counter drop
		oifname "{{ $s.Interface }}" ct state established,related counter accept
		oifname "{{ $s.Interface }}" counter drop
{{- end }}
	}

	chain input {
		type filter hook input priority filter; policy accept;
{{- range $s := .Slots }}
		iifname "{{ $s.Interface }}" counter drop
{{- end }}
	}
}
