add table inet {{ .Table }}
flush table inet {{ .Table }}
table inet {{ .Table }} {
	chain prerouting {
		type nat hook prerouting priority dstnat; policy accept;
{{- range $f := .Forwards }}
		iif "{{ $.Interface }}" {{ $f.Protocol }} dport {{ $f.PublicPort }} dnat ip to {{ $f.Target }} : {{ $f.TargetPort }}
{{- end }}
	}

	chain postrouting {
		type nat hook postrouting priority srcnat; policy accept;
		oifname != "{{ .Interface }}" masquerade
	}

	chain forward {
		type filter hook forward priority filter; policy drop;
		oifname "{{ .Interface }}" tcp flags syn tcp option maxseg size set rt mtu
		ct state established,related accept
{{- range $f := .Forwards }}
		iif "{{ $.Interface }}" ip daddr {{ $f.Target }} {{ $f.Protocol }} dport {{ $f.TargetPort }} accept
{{- end }}
	}

	chain input {
		type filter hook input priority filter; policy accept;
{{- if gt .HealthPort 0 }}
		iif "{{ .Interface }}" tcp dport {{ .HealthPort }} accept
{{- end }}
		iif "{{ .Interface }}" drop
	}
}
