[Interface]
PrivateKey = {{ .PrivKey }}
{{- if gt .ListenPort 0 }}
ListenPort = {{ .ListenPort }}
{{- end }}
{{ range .Peers }}
[Peer]
PublicKey = {{ .PublicKey }}
Endpoint = {{ .Endpoint }}
AllowedIPs = {{ .AllowedIPs }}
PersistentKeepalive = {{ .PersistentKeepalive }}
{{ end -}}